In [1]:
import os
import pickle
import pandas

# Parse Questionnaire data

In [2]:
subdir = '/Users/kirstenziman/Documents/github/attention-memory-task/data/'
df_list = []

for sub in os.listdir(subdir):
    #print(sub)
    
    for file in os.listdir(subdir+sub):
        if file[0:4]==str('pre_'):
            
            with open(subdir+sub+'/'+file,'rb') as fp:
                sub_pre = pickle.load(fp)
            
    df_list.append(pd.DataFrame(sub_pre).T)
    
pre_q = pd.concat(df_list)

In [3]:
pre_q.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,19,Female,Yes,False,False,False,False,False,True,False,some college,No,Yes,No,,8,0,Very alert
0,18,Female,No,False,False,False,False,False,False,True,some college,No,Yes,No,,7,0,A little alert
0,19,Male,No,True,False,False,False,False,False,False,high schoool graduate,No,Yes,No,,8,0,A little slugglish
0,20,Female,No,False,False,True,False,False,False,False,some college,No,Yes,No,,7,0,Neutral
0,18,Male,No,True,False,False,False,False,False,False,some college,No,Yes,No,,7,0,A little slugglish

In [7]:
pre_q[1].value_counts()

Female    24
Male       4
--         2
Name: 1, dtype: int64